*{
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, #01022d , black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: 
    linear-gradient(to right, #01022de5 30%, #0000007c),
    url(download.webp)    
    ;
    background-position: center;
    width: 80%;
    height: 540px;
}

.container:hover{
    background-image: 
    linear-gradient(to right, #01022de5 30%, transparent),
    url(download.webp)
    ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
}

.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    border-bottom: 2px solid transparent;
}

ul a:hover{
    border-bottom-color: white;
}

.content{
    color: white; 
    width: 50%;
    margin-top: 50px;
    padding: 30px;
    margin: 0 20px;
}

.content h2{
    font-size: 100px;
    text-transform: uppercase;
}

.content{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
}

.content p{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}

.content button{
    font-size: 30px;
    padding: 3px 30px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-top: 15px;
}

.content button:hover{
    background-color: transparent;
    color: white;
    border-color: white;

}
